.App-header {
}

.App-logo {
  height: calc(70px + 2vmin);
}

.navbar {
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.24);
  background-color: white;
}

.divider-vertical {
  height: calc(10px + 2vmin);
  margin: 0 9px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 2vmin;
}
