html,
body {
  padding-top: 50px;
}

.App {
  overflow: hidden;
  position: relative;
}

.App-header {
}

.App-body {
  min-height: 100vh; /* minus heigh of footer */
}

.App-footer {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  left: 0;
}
