h1{
  /* font-family: 'ITCCharterCom-Regular'; */
  color: #2d2d2d !important;
}
h2{
  /* font-family: 'ITCCharterCom-Regular'; */
  color: #2d2d2d !important;
}

body{
  background-color:white !important;
}